{% extends 'base.html' %}
{% block content %}
  <main>
    <!--Terms & Conditions-->
    <section class="terms_condition_section d-flex justify-content-center align-items-center">
        <div class="tcs_content d-flex justify-content-center align-items-center">
            <h2 class="tcsc_h position-relative">Terms & Conditions</h2>
        </div>
    </section>
    <!--Terms & Conditions end-->
    <!--Terms & Conditions roles section-->
    <section class="terms_condition_roles_section py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tcrs_main_content">
                        <div class="tcrsmc_box mb-4">
                            <h3 class="tcrsmc_h mb-3">1. Accuracy and validity of information</h3>
                            <p class="tcrsmc_p">
                                Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit nisi, pretium ut lacinia in elementum id enim. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id ut lacinia in elementum id enim. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi leo eget malesuada.
                            </p>
                        </div>
                        <div class="tcrsmc_box mb-4">
                            <h3 class="tcrsmc_h mb-3">2. Availability</h3>
                            <p class="tcrsmc_p">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, odio sequi! Nam consectetur, officiis ipsam explicabo tempore placeat! Voluptas molestiae pariatur necessitatibus consectetur, ullam aut esse amet debitis sint culpa. orem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, odio Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae mollitia laborum assumenda beatae minima enim quis dolores, pariatur, at perferendis sit dolore modi nostrum eum ea voluptatem
                            </p>
                            <p class="tcrsmc_p">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, placeat? Culpa ab est nemo perspiciatis quam, nesciunt reprehenderit voluptate id error corrupti doloremque exercitationem quis, iusto debitis velit eveniet ea. ipsum dolor sit amet consectetur, adipisicing elit. Ut, placeat? Culpa ab est nemo perspiciatis quam, nesciunt reprehenderit
                            </p>
                        </div>
                        <div class="tcrsmc_box mb-4">
                            <h3 class="tcrsmc_h mb-3">3. Third party websites</h3>
                            <p class="tcrsmc_p">
                                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus.Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Nulla porttitor accumsan tinci dunt. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo.
                            </p>
                            <p class="tcrsmc_p">
                                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                            </p>
                        </div>
                        <div class="tcrsmc_box mb-4">
                            <h3 class="tcrsmc_h mb-3">4. Copyright and intellectual property</h3>
                            <p class="tcrsmc_p">
                                Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus libero malesuada feugiat. Proin eget tortor.
                            </p>
                            <p class="tcrsmc_p">
                                <i class="fa-solid fa-check"></i>
                                Quisque velit nisi, pretium ut lacinia in, 
                            </p>
                            <p class="tcrsmc_p">
                                <i class="fa-solid fa-check"></i>
                                elementum id enim. Proin eget tortor risus. 
                            </p>
                            <p class="tcrsmc_p">
                                <i class="fa-solid fa-check"></i>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            </p>
                            <p class="tcrsmc_p">
                                <i class="fa-solid fa-check"></i>
                                Curabitur aliquet quam id dui posuere blandit. 
                            </p>
                        </div>
                        <div class="tcrsmc_box mb-4">
                            <h3 class="tcrsmc_h mb-3">4. Copyright and intellectual property</h3>
                            <p class="tcrsmc_p">
                                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus.Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Nulla porttitor accumsan tinci dunt. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo.
                            </p>
                            <p class="tcrsmc_p">
                                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                            </p>
                        </div>
                        <div class="tcrsmc_box mb-4">
                            <h3 class="tcrsmc_h mb-3">5. Termination of contract                            </h3>
                            <p class="tcrsmc_p">
                                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus.Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Nulla porttitor accumsan tinci dunt. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo.
                            </p>
                            <p class="tcrsmc_p">
                                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                            </p>
                        </div>
                        <div class="tcrsmc_box mb-4">
                            <h3 class="tcrsmc_h mb-3">6. Limitation of liability</h3>
                            <p class="tcrsmc_p">
                                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus.Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Nulla porttitor accumsan tinci dunt. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Terms & Conditions roles end-->
    <!--appointment button section-->
    <section class="appointment_button_section">
        <div class="container py-5">
            <div class="row py-4">
                <div class="col-lg-8">
                    <h2 class="appointment_btn_title">Knock us out today to get medical services</h2>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="btn btn-dark w-100">Book an Appointment</a>
                </div>
            </div>
        </div>
    </section>
    <!--appointment button section end-->
  </main>
{% endblock content %}