{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container mt-5 py-5">
        <!-- password Reset form -->
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            <h1 style="text-align: center;"><span class="text-primary">Safa-Marwa</span></h1>
 
            {% csrf_token %}  
            <!-- password Reset heading -->
            <h3 class="text-center">password Reset</h3>
            <hr>
 
            <!-- Display error/success messages -->
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
 
            <!-- E-mail input field -->
            <div class="form-group py-3">
                <label for="exampleInputEmail1">E-mail</label>
                <input type="text" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter your email" required>
            </div>
 
 
            <!-- Link to registration page -->
            <p>Don't have an account reset? <a href="{% url "profile" %}">Go to profile</a>. </p>
 
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</main>
{% endblock content %}