{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container mt-5 py-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
      <!-- password Reset form -->
       {% if validlink %}
      <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
          <h1 style="text-align: center;"><span class="text-primary">Safa-Marwa</span></h1>

          {% csrf_token %}  
          <!-- password Reset heading -->
          <h3 class="text-center">Set New Password</h3>
          <hr>

          <!-- Display error/success messages -->
          {% if messages %}
          <div class="alert alert-primary" role="alert">
              {% for message in messages %}
              {{ message }}
              {% endfor %}
          </div>
          {% endif %}

          <!-- password Reset form -->
          <div class="form-group py-3">
            <label for="id_new_password">New Password</label>
            <input type="password" name="new_password1" class="form-control" id="id_new_password" placeholder="New Password" autocomplete="current-password" autofocus="" required>
        </div>
        <div class="form-group py-3">
            <label for="id_new_password2">Confirm Password</label>
            <input type="password" name="new_password2" class="form-control" id="id_new_password2" placeholder="New Password" autocomplete="current-password" autofocus="" required>
        </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary">Set New Password</button>
      </form>
      {% else %}
      <p>The password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
      {% endif %}
    </div>
  </div>
  </div>
</main>
{% endblock content %}