{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container mt-5 py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% if messages %}
                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                <h2>Password Change Successful</h2>
                <p>Your password has been changed successfully.</p>
                <p><a href="{% url 'profile' %}">Go To Profile</a></p>
            </div>
        </div>
        
    </div>
</main>
{% endblock content %}